*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: plain light;
color: whitesmoke;
}
html,body{
height: 100%;
width: 100%;
}
#loader{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: fixed;
    z-index: 99;
    padding: 2vw 3vw ;
}
.txtload h1{
    font-size: 5vw;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: salmon;
    position: relative;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(130, 24, 12);
    position: relative;
}