*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: plain;
color: whitesmoke;
}
html,body{
height: 100%;
width: 100%;
}
#loader{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: fixed;
    z-index: 99;
    padding: 7vw;
    display: none;
}
.txtload h1{
    width: 100%;
    font-size: 7vw;
    text-transform: uppercase;
    text-align: center;
    text-align: start;
    margin-top: 2px;
    display: flex;
    padding: 0px 1vh;
}
#timer{
    padding: 1vw;
    display: flex ;
    align-items: start;
    justify-content: center;
    margin-right: 2vw;
}
.txtload h1 span{
    font-size: 3vw;
    font-family: Silk Serif;

}
.txtload h1 #now{
    /* color: transparent; */
    font-size: 7vw;
    margin-left: 3vw;
    animation-name: now;
    animation-duration: 2s;
    animation-timing-function: all ease;
    animation-iteration-count: infinite;
}
@keyframes now {
    0%{
    font-family:plain ;
    color: white;
    }
    45%{   
     font-family: Silk Serif;
    -webkit-text-stroke: rgb(255, 255, 255) .5px;
    color: transparent;
    }
    50%{
    font-family:plain ;
    color: white;

    }
    95%{
        font-family: Silk Serif;
    -webkit-text-stroke: rgb(255, 255, 255) .5px;
    color: transparent;
    }
    100%{
    font-family:plain ;
    color: white;

    }

}
.txtload:nth-child(3){
    height: 10vw;
}
.txtload p{
    margin-top: 3vw;
    padding-left: 25vw;
    /* background-color: red; */
    display: inline-block;
}
#main{
    background-color: #151515;
}
.mousefollower{
    height: 3vw;
    width: 3vw;
    background-color: transparent !important;
    mix-blend-mode: normal;
    border: .5px solid rgb(162, 162, 162);
    transform: scale(1.2) !important;
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 3vw 5vw;
    background-color: #151515;
}
#nav-part1{
    display: flex;
    align-items: start;
    gap: 3vw;
}
#logo{
    display: flex;
    align-items: center;
    gap: 2vw;
    position: sticky;
    top: 10%;
    left: 5%;
    z-index: 9999;
}
#nav-part1 h6{
    font-size: 1vw;
    font-weight: 100;
    margin-left: 14vw;
}
#nav-part2{
    display: flex;
    gap: 2vw;
}
#nav-part2 a{
    text-decoration: none;
    font-size: 1vw;
    font-weight: 300;
    text-transform: capitalize;
}
/* #page1 {
    padding-top: 4vw;

} */
#page1 #h1tags{
    margin-top: 4vw;
    position: relative;
}
#page1 .h1tag{
    overflow: hidden;
}
#page1 h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    padding-left: 29vw;
    font-weight: 400;
    line-height: 7.8vw;
}
#page1 #h1tags:before{
    content: "01";
    position: absolute;
    left: 20vw;
    top: 0%;
    font-weight: 500;
    font-family: silk serif;
    font-size: 3vw;
}
#menupage{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 8vw 5vw;
    position: absolute;
    top: -100%;
    left: 0;
    display: flex;
    align-items: center;
}
#menupage #menulist{
width: 60%;
}

#menupage #menulist .page-header{
    padding: 0;
    margin: 0;
    height: 8vw;
    /* background-color: red; */
    overflow: hidden;
}
#menupage #menulist .page-header  h3 {
    font-size: 7.5vw;
    font-weight: 500;
    -webkit-text-stroke: 2px white ;
    color: transparent ;
    text-transform: uppercase;
    /* background-color: red; */
    position: absolute;
    left: 0;
    top: -8%;
    font-family: silk serif;
} 
#menupage #menulist .page-header:nth-child(1) h2 span{
    color: transparent;
    line-height: 9vw;
    font-family: silk serif;
    -webkit-text-stroke: 2px white;
    font-weight: 100;
}
#menupage #menulist .page-header h3 span{
    color: transparent;
    line-height: 9vw;
    font-family: silk serif;
    -webkit-text-stroke: 2px white;
    font-weight: 100;
    opacity: 0;
}
#menupage #menulist .page-header::before{
    scale: 0;
}
#menupage .footer-content{
    /* height: 55%; */
    display: flex;
    padding: 0;
    height: 100%;
    width: 40%;
    margin-top: -3vw;
    justify-content: space-between;
    /* background-color: salmon; */
    flex-direction: column;
    border: none;
}
#menupage .footer-content .social{
    margin-top: 1vw;
    padding: 0;
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}
#page2 #video{
    height: 35vw;
    width: 70vw;
    position: relative;
}
#video img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 9;
}
#video video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover; 
}
#page2 #play{
    border-radius: 50%;
    height: 8vw;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFA63D;
    position: absolute;
    top: -10%;
    left: 70%;
    z-index: 99999;
}
#page2 #play i{
    font-size: 2vw;
}
h2{
    font-size: 7.5vw;
    font-weight: 500;
    text-transform: uppercase;
    /* margin-left: 30vw; */
}
.page-header{
    position: relative;
    padding-left: 30vw;
    padding-right: 5vw;
}
.page-header::before{
    content: "02";   
    position: absolute;
    left: 20vw;
    font-weight: 500;
    top: 0%;
    font-family: silk serif;
    font-size: 3vw;
}
.page-header .underline{
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 10vh;
}
#page3{
    min-height: 100vh;
    width: 100%;
    padding: 0 5vw;
}
#page3 #demos{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.demoname{
    height: 4vw;
    position: relative;
    overflow: hidden;
}
#page3 .demoname h5{
    font-size: 3vw;
    text-transform: capitalize;
    position: relative;
    transition: all ease-in .5s;

}
#page3 .demoimg{
    height: 28vw;
    width: 100%;
    margin-top: 3vw;
    position: relative;
    /* overflow: hidden; */
}
.demoimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.demoimg #img1{
    position: relative;
    z-index: 1;
}
.demoimg #img2{
    /* z-index: 9999; */
    position: absolute;
    top: 0%;
    left: 0%;
}
.demo .conclude{
    display: flex;
    justify-content: space-between;
    /* align-items: ; */
    margin-top: 2.5vw;
}
.demo .conclude p{
    font-weight: 200;
    /* background: salmon; */
    font-size: 1vw;
}
.demo{
    margin-right: 4vh;
    border-bottom: 2px solid rgba(230, 230, 230, 0.695);
    margin-top: 15vw;
}
.demo:nth-child(1){
    height: 40vw;
    width: 24vw;
    margin-right: 4vh;
    border-bottom: 2px solid rgba(230, 230, 230, 0.695);
}
#demos .demo:nth-child(1) .demoimg{
    height: 70%;
    width: 100%;  
}
#demos .demo:nth-child(1) .demoname h5::after{
    content: "olga prudgka";
    font-size: 3vw;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 100%;
}
#demos .demo:nth-child(2) .demoname h5::after{
    content: "ochi";
    font-size: 3vw;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 100%;
}
#demos .demo:nth-child(5) .demoname h5::after{
    content: "porsche taycan";
    font-size: 3vw;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    top: 100%;
}
#demos .demo:nth-child(6) .demoname h5::after{
    content: "david laxer";
    font-size: 3vw;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    top: 100%;
}
#demos .demo:nth-child(7) .demoname h5::after{
    content: "eminete";
    font-size: 3vw;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    top: 100%;
}
#demos .demo:nth-child(9) .demoname h5::after{
    content: "makhno";
    font-size: 3vw;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    top: 100%;
}

.demo:nth-child(2){
    /* background-color: pink; */
    height: 46vw;
    width: 32vw;
    /* display: inline-block; */
    margin-right: 4vh;
    border-bottom: 2px solid rgba(230, 230, 230, 0.695);
}
#demos .demo:nth-child(2) .demoimg{
    height: 75%;
    width: 100%;
}
.circle-container{
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    margin-top: 30vw;
    margin-left: 5vw;
    border: 1px solid white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.circle-container .button__arrow{
    /* object-fit: cover; */
    height: 12vw;
}
.circle-container .innercircle{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    scale: 0;
    transition: all ease-in .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innercircle p{
    color: black;
    text-align: center;
    scale: 0;
    transition: all ease 1s;
}
.circle-container:hover .innercircle{
    scale: 1;
}
.innercircle:hover p{
    scale: 1;
}
#circle2{
    margin-top: 3vw;
    margin-left: 0;
    margin-right: 4vw;
}
#circle2 #arrow2{

    transform: rotate(-45deg);
}
#demos .demo:nth-child(5){
    /* background-color: pink; */
    height: 48vw;
    width: 28vw;
    margin-right: 4vh;
    margin-top: 12vw;
    border-bottom: 2px solid rgba(230, 230, 230, 0.695);
}
#demos .demo:nth-child(5) .demoimg{
    height: 75%;
    width: 100%;
}
#demos .demo:nth-child(6){
    /* background-color: pink; */
    height: 50vw;
    width: 28vw;
    margin-right: 4vh;
    margin-top: -2vw;
    border-bottom: 2px solid rgba(230, 230, 230, 0.695);
}
#demos .demo:nth-child(6) .demoimg{
    height: 75%;
    width: 100%;
}
#demos .demo:nth-child(7){
    /* background-color: pink; */
    height: 40vw;
    width: 25vw;
    margin-right: 4vh;
    margin-top: -10vw;
    border-bottom: 2px solid rgba(230, 230, 230, 0.695);
}
#demos .demo:nth-child(7) .demoimg{
    height: 70%;
    width: 100%;
}
#circle3{
    /* margin-top: 35vw; */
    margin-left: 5vw;
    margin-right: 3vw;
}
#circle3 .button__arrow{
    transform: rotate(-90deg);

}
#demos .demo:nth-child(9){
    /* background-color: pink; */
    height: 50vw;
    width: 28vw;
    margin-right: 4vh;
    margin-top: 4vw;
    border-bottom: 2px solid rgba(230, 230, 230, 0.695);
}
#demos .demo:nth-child(9) .demoimg{
    height: 75%;
    width: 100%;
}
.demo:hover h5{
    transform: translateY(-100%);
}
#orangecircle{
    height: 50vw;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#orange{
    border: none;
    margin: 0;
    background-color: #FFA63D;
    transition: all ease .5s;
}
#orange h5{
    font-size: 1vw;
    font-weight: 500;
}
#orange:hover{
    scale: 0.9;
}
#page4{
    min-height: 100vh;
    width: 100%;
    /* border-bottom: 2px solid white; */
    padding-left: 30vw;
    padding-right: 5vw;
}
#page4 .page-header {
    margin: 0;
    padding: 0;
}
#page4 .page-header::before{
    content: "03";   
    position: absolute;
    left: -10vw;
    font-weight: 500;
    top: 0%;
    /* left: 0; */
    font-family: silk serif;
    font-size: 3vw;
}
#page4 p{
    margin-top: 3vw;
    font-size: 2.4vw;
    font-weight: 300;
    width: 40%;
}
#page4 #imgndpara{
    display: flex;
    flex-shrink: 0;
    margin-top: 5vw;
    align-items: flex-start;
    gap: 2vw;
}
#page4 #img{
    height: 40vw;
    width: 35vw;
    flex-shrink: 0;
}
#page4 #img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page4 #imgndpara p{
    padding: 0;
    margin: 0;
    font-weight: 200;
    margin-bottom: 3vw;
    /* margin-left: 2vw; */
    font-size: 1.2vw;
    width: 30%;
}
#page4 #bluebox{
    min-height: 10vw;
    width: 34vw;
    background-color:#3F7DF4 ;
    z-index: 99;
    position: relative;
    margin-left: 20vw;
    margin-bottom: 5vw;
    margin-top: -15vw;
    padding: 5vw;
}
#page4 #bluebox li{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 2vw;
    margin-top: 2vw;
    border-bottom: 2px solid rgb(227, 227, 227);
}
#page4 #bluebox li h5{
font-size: 1.5vw;
font-weight: 400;
}
#page4 #bluebox li p{
    font-size: 1vw;
    font-weight: 400;
    padding: 0;
    margin: 0;

}
#page4 .underline{
    height: 2px;
    width: 100%;
    background-color: white;
    /* margin-right: 5vw; */
}
#page5{
    height: 100vh;
    width: 100%;
}
#page5 p{
    margin-left: 30vw;
    font-weight: 300;
}
#page5 .work{
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    height: 10vw;
    /* margin-top: 1vw; */
}
#page5 .work h3{
    font-size: 7vw;
    margin-left: 3vw;
    text-transform: uppercase;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight: 100;
}
#page5 h3 span{
    font-size: 10vw;
    /* margin-top: -.5vw; */
    color: transparent;
    -webkit-text-stroke: 2px white;
}
.italic{
    font-family: silk serif;
    font-weight: 100;
    font-size: 7vw;
    margin-top: -1vw;
}
#page5 .right{
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    height: 10vw;
    /* margin-top: 1vw; */
}
#page5 .right h3{
    font-size: 7vw;
    margin-left: 3vw;
    text-transform: uppercase;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight: 100;
}
footer{
    height: 100vh;
    width: 100%;
    padding-left: 30vw;
    padding-right: 5vw;
}
footer .page-header{
    position: relative;
    margin: 0;
    padding: 0;
}
footer .page-header::before{
    content: "04";   
    position: absolute;
    left: -10vw;
    font-weight: 500;
    top: 0%;
    font-family: silk serif;
    font-size: 3vw; 
}
footer h3 {
    font-size: 7.5vw;
    font-weight: 500;
    -webkit-text-stroke: 2px white ;
    color: transparent ;
    text-transform: uppercase;
    /* background-color: red; */
    position: absolute;
    left: 0;
    top: -8%;
    font-family: silk serif;
}
footer h3 span{
    font-family: silk serif;
    -webkit-text-stroke: 2px white ;
    color: transparent ;
    opacity: 0;
}
footer .page-header svg{
    position: absolute;
    width: 7vw;
    top: 15%;
    right: 10%;
    transition: all ease .5s;
}
footer .page-header:hover svg{
    right: 5%;
}
.footer-content{
    height: 55%;
    display: flex;
    padding: 5vw 0;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: salmon; */
    border-bottom: 2px solid white;
}
.list{
    position: relative;
    overflow: hidden;
}
.footer-content h6{
    font-size: 2vw;
    font-weight: 300;
    text-transform: capitalize;
    /* list-style: none; */
    /* background-color: red; */
    text-align: start;
    position: relative;
    transition: all ease-in .3s;
}
.footer-content .list:nth-child(2) h6::after{
    content: "dribble";
    font-size: 2vw;    
    font-weight: 300;

    text-transform: capitalize;
    list-style: none;
    position: absolute;
    left: 0%;
    /* overflow: hidden; */
    top: 100%;
}
.footer-content .list:nth-child(3) h6::after{
    content: "behance";
    font-size: 2vw;
    font-weight: 300;
    text-transform: capitalize;
    list-style: none;
    position: absolute;
    left: 0%;
    top: 100%;
}
.footer-content .list:nth-child(4) h6::after{
    content: "instagram";
    font-size: 2vw;
    font-weight: 300;
    text-transform: capitalize;
    list-style: none;
    position: absolute;
    left: 0%;
    top: 100%;
}
.footer-content .list:nth-child(5) h6::after{
    content: "facebook";
    font-size: 2vw;
    font-weight: 300;
    text-transform: capitalize;
    list-style: none;
    position: absolute;
    left: 0%;
    top: 100%;
}
.footer-content .list:nth-child(6) h6::after{
    content: "twitter";
    font-size: 2vw;
    font-weight: 300;
    text-transform: capitalize;
    list-style: none;
    position: absolute;
    left: 0%;
    top: 100%;
}
.footer-content .list:nth-child(7) h6::after{
    content: "youtube";
    font-size: 2vw;
    font-weight: 300;
    text-transform: capitalize;
    list-style: none;
    position: absolute;
    left: 0%;
    top: 100%;
}
.footer-content .list:hover h6{
    transform: translateY(-100%);
}
.footer-content h4{
    margin-bottom: 1vw;
    font-size: 1.2vw;
    font-weight: 400;
    text-transform: capitalize;

}
.footer-content .social:nth-child(3) .list h6{
    text-decoration: underline;
}
.footer-content .social:nth-child(3) .list h6::after{
    content: "info@Obys.Agency";
    font-size: 2vw;
    font-weight: 300;
    text-transform: capitalize;
    list-style: none;
    position: absolute;
    left: 0%;
    top: 100%;
}
footer p{
    font-size: 1vw;
    font-weight: 300;
    margin-top: 3vw;
}
@media (max-width:600px) {
    html{
        /* overflow-y: hidden; */
    }
    #page1{
        height: 65vh;
        width: 100%;
        position: relative;
    }
    nav{
        padding: 7vw 6vw;
    }
    #nav-part1{
        display: flex;
        align-items: start;
    }
    #logo{
        gap: 60vw;
        z-index: 9999999;
    }
    #logo svg:nth-child(2){
        /* background-color: red; */
        scale: .8;
    }
    #nav-part1 h6{
    display: none;
    }
    #nav-part2{
        display: none;
    }
    #page1 #h1tags{
        margin-top: 28vw;
        position: relative;
    }
    #page1 h1{
        font-size: 10vw;
        padding-left: 5vw;
        line-height: 10vw;
    }
    #page1 #h1tags:before{
        left: 5vw;
        top: -30%;
        font-size: 5vw;
    }  
    #page2{
        height: 50vh;
        width: 100%;
        justify-content:center ;
        margin-top: 10vh;
    }
    #page2 #video{
        height: 100%;
        width: 100vw;
        position: relative;
    }
    #video video{
        height: 100%;
        width: 100%;
    }
    #page2 #play{
        height: 25vw;
        width: 25vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #page2 #play i{
        font-size: 6vw;
    }
     
h2{
    font-size: 10vw;
}
.page-header{
    position: relative;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 18vh;
}
.page-header::before{
    left: 7vw;
    top: -35%;
    font-size: 5vw;
}
.page-header .underline{

    margin-top: 5vh;
} 
#page3{
    min-height: 100vh;
    width: 100%;
    padding: 0 5vw;
}
#page3 #demos{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.demo{
    margin-right: 4vh;
    border-bottom: 2px solid rgba(230, 230, 230, 0.695);
    margin-top: 15vw;
}
.demoname{
    height: 8vw;
    position: relative;
    overflow: hidden;
    margin-bottom: 5vh;
}
#page3 .demoname h5{
    font-size: 7vw;
    text-transform: capitalize;
    position: relative;
    font-weight: 500;
}
#page3 .demoimg{
    height: 28vw;
    width: 100%;
    margin-top: 3vw;
    position: relative;
    /* overflow: hidden; */
}
.demoimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.demoimg #img1{
    position: relative;
    z-index: 1;
}
.demoimg #img2{
    /* z-index: 9999; */
    position: absolute;
    top: 0%;
    left: 0%;
}
.demo .conclude{
    display: flex;
    justify-content: space-between;
    /* align-items: ; */
    margin-top: 5vh
}
.demo .conclude p{
    font-weight: 200;
    /* background: salmon; */
    font-size: 4vw;
}
.demo:nth-child(1){
    height: 150vw;
    width: 100vw;
    margin-right: 0vh;
}
#demos .demo:nth-child(1) .demoimg{
    height: 70%;
    width: 100%;  
}
#demos .demo:nth-child(1) .demoname h5::after{
    font-size: 7vw;  
}
#demos .demo:nth-child(2) .demoname h5::after{
    font-size: 7vw;
}
#demos .demo:nth-child(5) .demoname h5::after{
    font-size: 7vw;
}
#demos .demo:nth-child(6) .demoname h5::after{
    font-size: 7vw;
}
#demos .demo:nth-child(7) .demoname h5::after{
    font-size: 7vw;
}
#demos .demo:nth-child(9) .demoname h5::after{
    content: "makhno";
    font-size: 7vw;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    top: 100%;
}

.demo:nth-child(2){
    height: 150vw;
    width: 100vw;
    margin-right: 0vh;
    margin-right: 4vh;
    border-bottom: 2px solid rgba(230, 230, 230, 0.695);
}
#demos .demo:nth-child(2) .demoimg{
    height: 75%;
    width: 100%;
}
#demos .demo:nth-child(5){
    height: 150vw;
    width: 100vw;
    margin-right: 0vh;
    border-bottom: 2px solid rgba(230, 230, 230, 0.695);
}
#demos .demo:nth-child(5) .demoimg{
    height: 75%;
    width: 100%;
}
#demos .demo:nth-child(6){
    height: 150vw;
    width: 100vw;
    margin-right: 0vh;
    margin-top: 5vh;
}
#demos .demo:nth-child(6) .demoimg{
    height: 75%;
    width: 100%;
}
#demos .demo:nth-child(7){
    height: 150vw;
    width: 100vw;
    margin-right: 0vh;
    margin-top: 25px;
}
#demos .demo:nth-child(7) .demoimg{
    height: 70%;
    width: 100%;
}
#demos .demo:nth-child(9){
    height: 150vw;
    width: 100vw;
    margin-right: 0vh;
    margin-top: 5vh;
}
#demos .demo:nth-child(9) .demoimg{
    height: 75%;
    width: 100%;
}
.demo:hover h5{
    transform: translateY(-100%);
}
#circle1{
    display: none;
}
#circle2{
    display: none;
}
#circle3{
    display: none;
}
#orangecircle{
    height: 50vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-container{
    height: 25vh;
    width: 25vh;
}
#orange h5{
    font-size: 3vw;
    font-weight: 500;
}
#page4{
    min-height: 100vh;
    width: 100%;
    /* border-bottom: 2px solid white; */
    padding-left: 5vw;
    padding-right: 5vw;
}
#page4 .page-header {
    margin: 0;
    padding: 0;
}
#page4 .page-header::before{
    content: "03";   
    position: absolute;
    left: 1vh;
    font-weight: 500;
    top: -30%;
    /* left: 0; */
    font-family: silk serif;
    font-size: 5vw;
}
#page4 p{
    margin-top: 3vw;
    font-size: 7.7vw;
    font-weight: 300;
    width: 100%;
}
#page4 #imgndpara{
    display: flex;
    flex-shrink: 0;
    margin-top: 5vw;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    gap: 2vw;
}
#page4 #img{
    height: 100vw;
    width: 100vw;
    flex-shrink: 0;
}
#page4 #img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page4 #imgndpara p{
    padding: 0;
    margin: 0;
    font-weight: 200;
    margin-bottom: 3vw;
    /* margin-left: 2vw; */
    font-size: 5vw;
    width: 100%;
}
#page4 #bluebox{
    min-height: 10vw;
    width: 90vw;
    background-color:#3F7DF4 ;
    z-index: 99;
    position: relative;
    margin-left: 0vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    margin-top: 0vw;
    padding: 5vw;
}
#page4 #bluebox li{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 2vw;
    gap: 10vh;
    margin-top: 2vw;
    border-bottom: 2px solid rgb(227, 227, 227);
}
#page4 #bluebox li h5{
font-size: 5vw;
font-weight: 400;
}
#page4 #bluebox li p{
    font-size: 3vw;
    font-weight: 400;
    padding: 0;
    margin: 0;

}
#page4 .underline{
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 10vh;
}
#page5{
    height: 40vh;
    width: 100%;
}
#page5 p{
    margin-left: 5vw;
    font-weight: 300;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
#page5 .work{
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    height: 10vw;
}
#page5 .work h3{
    font-size: 10vw;
    margin-left: 3vw;
    text-transform: uppercase;
    color: transparent;
    font-weight: 100;
    -webkit-text-stroke: .5px white;
}
#page5 h3 span{
    font-size: 10vw;
    /* margin-top: -.5vw; */
    color: transparent;
    -webkit-text-stroke: .5px white;
}
.italic{
    font-family: silk serif;
    font-weight: 100;
    font-size: 7vw;
    margin-top: -1vw;
}
#page5 .right{
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    height: 10vw;
    /* margin-top: 1vw; */
}
#page5 .right h3{
    font-size: 10vw;
    margin-left: 3vw;
    text-transform: uppercase;
    -webkit-text-stroke: .5px white;
    color: transparent;
    font-weight: 100;
}
footer{
    height: 70vh;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}
footer .page-header{
    position: relative;
    margin: 0;
    padding: 0;
}
footer .page-header::before{
    content: "04";   
    position: absolute;
    left: 2vw;
    font-weight: 500;
    top: -30%;
    font-family: silk serif;
    font-size: 5vw; 
}
footer h3 {
    font-size: 10vw;
    font-weight: 100;
    -webkit-text-stroke: .5px rgb(255, 255, 255) ;
    color: transparent ;
    text-transform: uppercase;
    /* background-color: red; */
    position: absolute;
    left: 0;
    top: -8%;
    font-family: silk serif;
}
footer h3 span{
    font-family: silk serif;
    -webkit-text-stroke: .5px white ;
    color: transparent ;
    opacity: 0;
}
footer .page-header svg{
    position: absolute;
    width: 7vw;
    top: 15%;
    right: 10%;
    transition: all ease .5s;
}
footer .page-header:hover svg{
    right: 5%;
}
.footer-content{
    height: 75%;
    display: flex;
    padding: 5vw 0;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: salmon; */
    border-bottom: .5px solid white;
}
.list{
    position: relative;
    overflow: hidden;
}
.footer-content h6{
    font-size: 5vw;
    font-weight: 300;
    text-transform: capitalize;
    /* list-style: none; */
    /* background-color: red; */
    text-align: start;
    position: relative;
    transition: all ease-in .3s;
}
.footer-content .list:nth-child(2) h6::after{
    content: "dribble";
    font-size: 5vw;    
}
.footer-content .list:nth-child(3) h6::after{
    content: "behance";
    font-size: 5vw;
}
.footer-content .list:nth-child(4) h6::after{
    content: "instagram";
    font-size: 5vw;
}
.footer-content .list:nth-child(5) h6::after{
    content: "facebook";
    font-size: 5vw;
}
.footer-content .list:nth-child(6) h6::after{
    content: "twitter";
    font-size: 5vw;
}
.footer-content .list:nth-child(7) h6::after{
    content: "youtube";
    font-size: 5vw;
}
.footer-content .list:hover h6{
    transform: translateY(-100%);
}
.footer-content h4{
    margin-bottom: 2vw;
    font-size: 3vw;
    font-weight: 400;
    text-transform: capitalize;

}
.footer-content .social:nth-child(3) .list h6{
    text-decoration: underline;
}
.footer-content .social:nth-child(3) .list h6::after{
    content: "info@Obys.Agency";
    font-size: 5vw;
    font-weight: 300;
    text-transform: capitalize;
    list-style: none;
    position: absolute;
    left: 0%;
    top: 100%;
}
footer p{
    font-size: 3vw;
    font-weight: 300;
    margin-top: 3vw;
}
#menupage{
    height:100vh;
    width: 100vw;
    padding: 8vw 5vw;
    z-index: 999999;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
}
#menupage #menulist{
    margin-top: 50vw;
}

#menupage #menulist .page-header{
    padding: 0;
    margin: 0;
    height: 13vw;
    overflow: hidden;
}
.page-header{
    width: 100vw;
}
#menupage #menulist .page-header  h3 {
    font-size: 12vw;
    font-weight: 500;
    -webkit-text-stroke: .5px white ;
    color: transparent ;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: -8%;
    font-family: silk serif;
} 
#menupage #menulist .page-header h2 {
    font-size: 12vw;
}
#menupage #menulist .page-header h3 span{
    color: transparent;
    line-height: 9vw;
    font-family: silk serif;
    -webkit-text-stroke: .5px white;
    font-weight: 100;
    opacity: 0;
}
#menupage .footer-content{
    height: 20vw;
    width: 50%;
    margin-top: -3vw;

}
#menupage .footer-content .social:nth-child(2){
    display: none;
}
#menupage .footer-content .social:nth-child(1){
    display: none;
}
#menupage .footer-content .social:nth-child(3) h4{
    font-size: 5vw;
}
#menupage .footer-content .social:nth-child(3) h6{
    font-size: 8vw;
}

}  